{% for post in posts %}
    <div class="onLoad-anim" style="border-bottom:1px solid rgba(58, 5, 39, 0.126); padding-bottom:24px; margin-bottom:24px">
        <h1><a href="{{post.post-link}}">{{post.title}}</a></h1>
        {{post.body | safe}}
        {% if post.truncated %}
        <div style="position:relative;">
        <div style = "background: linear-gradient(6deg, rgba(255,254,255,1) 0%, rgba(255,254,255,0) 100%); width:100%; height:150px; position:absolute; bottom:35px"></div>
            <p class="read-more"><a href="{{post.post-link}}">Read More</a></p>
        </div>
        {% endif %}
       
        {% if post.discuss %}
            <p>Discuss this post <a href="{{post.discuss}}">here</a>.</p>
        {% endif %}
        <br>
        <p><i><span style="font-weight: 600;">Published:</span> {{post.date}}</i></p>
        <p><i><span style="font-weight: 600;">Approved by:</span> {{blog-author}}</i></p>
        
        {% if post.tags %}
            <p><i>
                Tags:
                {% for tag in post.tags %}
                    <span class="tag">
                        <a href="tags/{{tag|escape-tag}}{{page-suffix}}" style="margin-bottom:30px;">{{tag}}</a>
                    </span>
                {% endfor %}
            </i></p>
        {% endif %}
    </div>
{% endfor %}
