node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.cpcache
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

#Milos:Updating for Calva and VS studio code
.calva
.clj-kondo
.lsp
.cpcache
.shadow-cljs
public/release/js/cljs-runtime/

#Updating ignore list for th Blog
.work
public/blog/public/
