


{:deps {:aliases [:cljs]}

 :dev-http {8080 "public"}

 :builds

 {:dev {:target :browser
        :output-dir "public/js"
        :asset-path "public/assets"
        :modules {:main {:entries [main.core]
                         :init-fn main.core/init}}
        :closure-defines {main.constants/assets-url "assets/"
                          main.constants/blog-address "./public/blog/index.html"}}

  :prod {:target :browser
         :output-dir "public/release/js"
         :asset-path "public/assets"
         :modules {:main {:entries [main.core]
                          :init-fn main.core/init}}
         :closure-defines {main.constants/assets-url "public/assets/"
                           main.constants/blog-address "./public/blog/index.html"}}}}


