@font-face {
  font-family: "Oswald";
  src: url(../fonts/Oswald.ttf) format('truetype');
}

html, body, div, span, a {
  color: #ddc38d;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Oswald;
}

body, html {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.menu-item:hover {
  text-decoration: underline #8f7e60;
}

.small-menu-visible {
  width: 100% !important;
}

@media screen and (max-width: 1000px) {
  #screen {
    flex-direction: column !important;
  }

  #sidebar {
    width: auto !important;
    height: auto !important;
    flex-direction: row !important;
    flex: 0 0 auto !important;
    border-bottom: 1px solid #d1b781 !important;
    max-width: 100% !important;
  }

  #sidebar-logo {
    height: 100px !important;
  }

  #sidebar-menu {
    display: none !important;
  }

  #sidebar-hamburger {
    display: flex !important;
  }

  #sidebar-contact {
    display: none !important;
  }

  #home div {
    border-left: 0 !important;
  }

  #about {
    border-left: 0 !important;
  }

  #expertise div {
    border-left: 0 !important;
  }

  #contact div {
    border-left: 0 !important;
  }


}